@media only screen and (max-width: 480px){

    .results span, .results input{

        display:none;

    }

    nav h1{
        font-size: 32px;
    }

    .resultsMobile input{
        margin-left: 10%;
        margin-right: 5%;
        margin-bottom: 8%;
        font-size: 15px;
        border-bottom: solid 2px blueviolet;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 90%;
       
    }
    
    .resultsMobile span{
        font-size: 16px;
        margin-left: 10%;
        margin-right: 5%;
        color:grey;
    }

    .inputs input {
        font-size: 12px;
    }

    .inputs span {
        font-size: 12px;
    }
 
    .resultsMobile span, .resultsMobile input{
        display: inline-block;

    }

    .footer-pc{
        display: none;
    }

    .footer-mobile{
        background-color: blueviolet;
        display: inline-block;
    }

    p{
        font-size: 16px;
        padding-top: 2%;
    }
}

@media only screen and (max-width: 360px){

    .results span, .results input{

        display: none;

    }

    nav h1{
        font-size: 32px;
    }

    .resultsMobile input{
        margin-left: 10%;
        margin-right: 5%;
        margin-bottom: 8%;
        border-bottom: solid 2px blueviolet;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 90%;
       
    }
    
    .resultsMobile span{
        font-size: 12px;
        margin-left: 10%;
        margin-right: 5%;
        color:grey;
    }

    .inputs input {
        font-size: 12px;
    }

    .inputs span {
        font-size: 12px;
    }
 
    .resultsMobile span, .resultsMobile input{
        display: inline-block;
    }
    
}

@media only screen and (max-width: 320px){

    .results span, .results input{

        display: none;

    }

    nav h1{
        font-size: 26px;
    }

    .resultsMobile input{
        margin-left: 10%;
        margin-right: 5%;
        margin-bottom: 8%;
        border-bottom: solid 2px blueviolet;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 90%;
       
    }
    
    .resultsMobile span{
        font-size: 12px;
        margin-left: 10%;
        margin-right: 5%;
        color:grey;
    }

    .inputs input {
        font-size: 10px;
    }

    .inputs span {
        font-size: 10px;
    }
 
    .resultsMobile span, .resultsMobile input{
        display: inline-block;
    }
}